.footer {
    position: fixed;
    bottom: 0px;
    left: -60px;
}

ion-item {
    background-color: #d11818 !important;
    color: white !important;
}

ion-list {
    background-color: #d11818 !important;
}

ion-card {
    background-color: #d11818 !important;
    color: white !important;
}

ion-card ion-card-header {
    color: white !important;
}

ion-row {
    background-color: #d11818 !important;
}
