<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <img src="assets/images/pokepedias.png" width="150px" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="box">
        <p class="line typing-animation">
            Olá, Bem vindo a PokéPédia !!!
        </p>
        <p>
            Aqui você pode encontrar informações de todos os tipos e espécies de Pokémon, alem de um apanhado <br> geral sobre o universo <br> Pokémon.
        </p>


    </div>
    <div class="left-fle">
    </div>
    <div class="left-dle">
    </div>
    <div class="left-de">
        <img src="assets/images/professor.png" width="300px" alt="">
    </div>



</ion-content>
